# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env

# Specific to this project
data/*.csv
!data/prices.csv # Keep an empty prices.csv for structure
visuals/*.png

# IDEs
.idea/
.vscode/

# Operating System
.DS_Store
Thumbs.db
